@CHARSET "UTF-8";

#areago-description{
	width:98%;
}

#map{
	width:60%;
	height:600px;
	margin-bottom:20px;
	float:left;
}

#map-toolbar{
	height:45px;
}

#markers-table{
	width:35%;
	float:left;
	margin-right:2%;
}

.olControlMousePosition{
	color:white;
}
