@CHARSET "UTF-8";

#areago-description{
	width:98%;
}

#map{
	width:60%;
	height:600px;
	
	margin-bottom:20px;
	float:left;
}

#map-toolbar{
	height:45px;
}

#markers-table{
	width:98%;	
	margin-bottom:15px;
}
#marker-editor{
	width:36%;
	float:left;
	margin-left:2%;
}

.olControlMousePosition{
	color:white;
}
